@model DumbScrumWebMVC.Models.UseCasesVM

@{
    ViewBag.Title = "Use Cases";
}

<div class="d-flex h-100">
    @Html.Partial("_ProjectPartial")
    <div class="col p-2">
        @Html.Partial("_TaskPartial")
    </div>
</div>

