@model IEnumerable<DataObjects.SprintVM>

@{
    ViewBag.Title = "Project Sprints";
}

<div class="d-flex h-100">
    @Html.Partial("_ProjectPartial")

    <div class="container-fluid">
        <h2>Project Sprints:</h2>
        @Html.Partial("SprintList", Model)
    </div>
</div>